body {
  margin: 0;
}

.content > .content-padded {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
}

/* Be consistent with TextBox */
.Select-control{
  border-radius: 0px !important;
}
.Select{
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="checkbox"]{
  margin-left: 0 !important;
}

/* Tweak some alteryx widget css */
.alteryx-toggle-switch-outer {
  position: absolute !important;
  right: 4px;
}

.alteryx-numeric-slider .comboslider-controls b{
  font-weight: normal !important;
}


.tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #1691C6;
  cursor: pointer;
}

.tab {
  text-align: center;
  line-height: 28px;
  width: 33.33%;
  height: 28px;
  margin: auto;
  color: #000000;
  font-size: 14px;
  background: rgb(230, 230, 230);
}

.tab.active {
  background: #1691c6;
  color: #ffffff;
  font: "Segoe UI Semibold";
}

.tab:not(.active):hover {
  background: #D8D8D8;
}

#intro-div{
  position: fixed;
  bottom: 5px;
  display: hidden;
}

#switch-to-customize{
  position: absolute;
  right: 8px;
  margin-top: 5px;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  text-align: left;
  color: #1691c6;
  border-color: #1691c6;
}

#switch-to-customize i {
  line-height: 1.5em;
  width: 0.8em;
  margin-right: 0;
}

#switch-to-home{
  cursor: pointer;
  text-align: left;
  margin-right: 0;
  width: 0.8em;
}

.fd-header {
  display: flex;
  background: #eeeeee;
  font-size: 20px;
  line-height: 20px;
  height: 35px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding-left: 12px;
}

/* Utility Classes */
.indent-one {
  margin-left: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* Element specific style tweaks */
#xvars label {
  margin-bottom: 5px;
}

#weight-vec{
  margin-top: -10px;
}

#folds-and-trials div{
  width: 50%;
}
#div-number-trials{
  text-align: right;
}
